@charset "UTF-8";

/* ==========================================================================
   CONFIGURAÇÃO
 ========================================================================== */

body,
html {
    width: 100% !important;
    height: 100% !important;
    background-color: #eee;
}


/* Background Laranja */

.orange-gradient {
    background: linear-gradient(90deg, #f5a942 0%, #fe5a0b 100%);
}


/* Adicionando Peso nas fontes */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}


/* Removendo Decoração nos Links */

a {
    text-decoration: none;
    user-select: none;
}

* {
    text-decoration: none;
    user-select: none;
    outline: none;
}


/* Removendo Padding's Esquerda e Direita das Colunas */

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding-right: 0px;
    padding-left: 0px;
}


/* ==========================================================================
    ANIMAÇÕES
 ========================================================================== */

@keyframes sonar {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}


/* ==========================================================================
    LAYOUT
 ========================================================================== */


/*  Barra Superior */

.navbar {
    /* Display & Modelo de Caixa */
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    /* Outros */
    background: linear-gradient(90deg, #f5a942 0%, #fe5a0b 100%);
}

.nav-brand {
    color: #ffffff;
}


/* Botão Barra Superior */

.navbar-toggler {
    /* Display & Modelo de Caixa */
    height: 40px;
    border: 0;
    /* Outros */
    background-color: #000000;
    outline: none;
}


/* Botão Barra Superior */

.navbar-toggler:focus {
    box-shadow: 0px 1px 6px #eee;
    user-select: none;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: none;
}


/* Botao Barra Superior Hover */

.navbar-toggler:hover {
    /* Display & Modelo de Caixa */
    box-shadow: 0px 1px 6px #eee;
}


/* Icone Botao Principal Navbar */

.navbar-toggler i {
    color: #ffffff;
}


/* Botoes Principais */

.nav-notificacao .dropdown-menu {
    /* Posicionamento */
    position: absolute;
    /* Display & Modelo de Caixa */
    width: 15rem;
    padding: .5rem;
    margin-top: 0;
}

.badge {
    /* Display & Modelo de Caixa */
    padding: 4px 5px;
    /* Outros */
    background-color: #ffff00;
    color: #000000;
}


/* Visualizacao Menu */

.dropdown-menu .show {
    display: block;
}


/* Notificacao: links */

.nav-link {
    /* Posicionamento */
    position: relative;
    /* Display & Modelo de Caixa */
    overflow: hidden;
    /* Outros */
    color: #ffffff !important;
    cursor: pointer;
    user-select: none;
}


/* Itens do Menu dropdown */

.dropdown-menu .dropdown-item {
    /* Display & Modelo de Caixa */
    padding: .5rem;
    margin-left: 0;
    /* Outros */
    color: #777;
    font-size: .9rem;
    font-weight: 300;
}


/* Notificacao: Efeito ao Passar Mouse */

.dropdown-menu .dropdown-item:hover {
    /* Display & Modelo de Caixa */
    border-radius: .125rem;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    /* Outros */
    color: #ffffff;
    background: linear-gradient(40deg, #45cafc, #303f9f);
    transition: all .2s linear;
}


/* Menu Botao Perfil */

.userDropdown {
    /* Posicionamento */
    position: absolute;
    /* Display & Modelo de Caixa */
    margin-top: 0;
    padding: .5rem;
    width: 5rem;
}


/* Imagem Usuario Barra Superior */

.nav-user-img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    margin-right: 5px;
}


/* Icone Usuario Barra Superior */

.dropdown-icon {
    margin-right: 7px;
}


/* Estrutura Principal */

.wrapper {
    /* Display & Modelo de Caixa */
    display: flex;
    /* Outros */
    width: 100%;
}


/* Layout >> Login e Registro
 ========================================================================== */


/* Particulas Background Login e Registro */

.intro {
    /* Posicionamento */
    position: absolute;
    top: 0;
    /* Display & Modelo de Caixa */
    width: 100%;
    height: 100%;
}

.wrapper-auth {
    /* Posicionamento */
    position: relative;
    /* Display & Modelo de Caixa */
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.wrapper-auth-login {
    width: 65%;
}


/* Header Login */

.form-header-login {
    /* Display & Modelo de Caixa */
    padding: 1rem;
    border-radius: 5px;
    margin-top: -3.13rem;
    margin-bottom: 1.5rem;
    /* Outros */
    color: #fff;
    background: linear-gradient(40deg, #45cafc, #303f9f);
    text-align: center;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.form-icon {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.btn-entrar,
.btn-registrar {
    width: 100%;
}


/* Corpo do Tela Login */

.card-auth-login {
    /* Display & Modelo de Caixa */
    margin-top: 1.875rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    /* Outros */
    background-color: rgba(255, 255, 255, .95);
}


/* Linha Divisão */

.line-auth-login {
    height: 1px;
    background-color: #fe5a0b;
}


/* Label's Login */

.label-auth-user,
.label-auth-password,
.label-register-name,
.label-register-email,
.label-register-password {
    /* Outros */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #727272;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
}

#email,
#password {
    /* Display & Modelo de Caixa */
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    /* Outros */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


/* ==========================================================================
   Barra Lateral
 ========================================================================== */

.wrapper-sidebar {
    /* Posicionamento */
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    /* Display & Modelo de Caixa */
    width: 15.625rem;
    height: 100%;
    padding: 0px;
    border: 0px;
    margin: 0px;
    /* Outros */
    background-color: #004bbc;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #ffffff;
    transition: all 0.3s;
}


/* Esconder Barra ao Clicar */

.wrapper-sidebar.ocultarSidebar {
    margin-left: 0 !important;
}


/* ==========================================================================
    Barra Lateral
 ========================================================================== */


/* Menu >> Header
 ========================================================================== */

.sidebar-menu {
    /* Posicionamento */
    position: absolute;
    top: 3.5rem;
    left: 0;
    /* Display & Modelo de Caixa */
    overflow-y: auto;
    width: 100%;
    height: calc(100% - 6.25rem);
    border: 0px;
    margin: 0px;
}


/* Header Menu */

.sidebar-header {
    /* Display & Modelo de Caixa */
    overflow: hidden;
    padding: 20px 15px;
}

.foto-usuario {
    /* Display & Modelo de Caixa */
    overflow: hidden;
    width: 3.75rem;
    padding: 0.125rem;
    margin-right: 0.938rem;
}

.informacao-usuario {
    /* Display & Modelo de Caixa */
    overflow: hidden;
}

.informacao-usuario>span {
    /* Display & Modelo de Caixa */
    display: block;
    /* Outros */
    text-overflow: ellipsis;
    white-space: nowrap;
}

.funcao-usuario {
    /* Outros */
    font-size: 12px;
}

.status-usuario {
    /* Display & Modelo de Caixa */
    margin-top: 4px;
    /* Outros */
    font-size: 11px;
}


/* Cor Icone Status */

.status-usuario i {
    /* Display & Modelo de Caixa */
    margin-right: 4px;
    /* Outros */
    color: #56ce56;
    font-size: 8px;
}


/* Sonar do Status */

.badge-sonar-usuario::after {
    /* Posicionamento */
    position: relative;
    /* Display & Modelo de Caixa */
    display: inline-block;
    border: 0.219rem solid #56ce56;
    border-radius: 50%;
    margin-top: -0.300rem;
    margin-left: -0.469rem;
    /* Outros */
    content: '';
    animation: sonar 1.5s infinite;
}


/* Menu >> Search
 ========================================================================== */

.sidebar-search {
    margin: 0px 15px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}


/* Espacamento Search */

.sidebar-search>div {
    padding: 20px 0px;
}


/* Campo search */

.sidebar-search .input-group-text,
.sidebar-search .campo-busca {
    /* Display & Modelo de Caixa */
    box-shadow: none;
    border: none;
    margin-left: 1px;
    /* Outros */
    color: #ffffff;
}


/* Campo Pesquisa */

.campo-busca {
    background-color: rgba(255, 255, 255, .5) !important;
}


/* Botão Search */

.sidebar-search .input-group-text {
    background-color: #fe5a0b;
}


/* Icone Campo Buscar */

.sidebar-search i {
    /* Display & Modelo de Caixa */
    padding: 0px !important;
    /* Outros */
    color: #ffffff;
}


/* Menu >> Opcoes
 ========================================================================== */


/* Titulo Menu */

.header-menu span {
    /* Display & Modelo de Caixa */
    display: inline-block;
    padding: 15px 20px 5px 0px;
    /* Outros */
    font-weight: bold;
    font-size: 16px;
}


/* Itens do Menu */

.sidebar-menu-item {
    /* Posicionamento */
    position: relative;
    /* Display & Modelo de Caixa */
    display: flex;
    flex-wrap: nowrap;
    padding: 8px 15px;
    /* Outros */
    align-items: center;
    text-decoration: none;
}


/* Menu Icones */

.sidebar-menu-icon {
    /* Display & Modelo de Caixa */
    line-height: 2.188rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    /* Outros */
    color: white;
    background: linear-gradient(90deg, #f5a942 0%, #fe5a0b 100%);
    font-size: 1rem;
    text-align: center;
}

.menu-text {
    line-height: 2.188rem;
}

.menu-text+i {
    float: right;
    line-height: 2.188rem;
    font-size: 1.2rem;
}


/* Menu Links*/

.sidebar-menu-link {
    /* Display & Modelo de Caixa */
    height: 2.188rem;
    border-radius: 4px;
    /* Outros */
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.4);
    text-decoration: none !important;
}

.sidebar-menu-link:hover {
    /* Outros */
    color: #fe5a0b;
    background-color: rgba(255, 255, 255, 0.7);
    transform: scale(1.02);
    transition: all ease 400ms;
    text-decoration: none !important;
}

.btn-active {
    color: #ffffff;
    background: linear-gradient(90deg, #f5a942 0%, #fe5a0b 100%);
    font-weight: bold;
}

.icon-active {
    background: #fe5a0b;
}


/* ==========================================================================
    Footer Barra Lateral
 ========================================================================== */

.sidebar-footer {
    /* Posicionamento */
    position: absolute;
    bottom: 0;
    left: 0;
    /* Display & Modelo de Caixa 
    display: flex;*/
    box-shadow: 0px -1px 5px #eee;
    width: 100%;
    height: 2.75rem;
    border-top: 1px solid #eee;
    margin: 0px;
    /* Outros */
    background-color: #004bbc;
}

.sidebar-footer-items {
    height: 2.75rem;
}

.sidebar-footer-configuracao .dropdown-menu {
    /* Display & Modelo de Caixa */
    height: 140px !important;
    padding: 18px 15px;
}


/* Tamanho Fonte */

.sidebar-footer-font {
    font-size: .95rem !important;
}

.sidebar-footer-icon {
    color: #eee;
}


/* Quadrado de Atenção Notificação */

.badge-warning {
    /* Posicionamento */
    position: absolute;
    top: 0.094rem;
    /* Outros */
    color: #212529;
    background-color: #ffff00;
}


/* Estrutura dos Icones */

.sidebar-footer-notificacao,
.sidebar-footer-suporte,
.sidebar-footer-configuracao,
.sidebar-footer-logout {
    /* Posicionamento */
    position: static;
}


/* Cor dos Icones */

.footer-notificacao-link,
.footer-suporte-link,
.footer-configuracao-link,
.footer-logout-link {
    color: #adadad;
}


/* Hover Icone Logout Sider Footer */

.footer-logout-link .sidebar-footer-icon:hover {
    color: red;
}


/* Estrutura Dropdown Menu */

.sidebar-footer .dropdown-menu {
    /* Posicionamento */
    top: initial !important;
    bottom: 2.75rem;
    left: 0 !important;
    /* Display & Modelo de Caixa */
    overflow-y: auto;
    height: 200px;
    width: 100%;
    border-radius: 0;
    /* Outros */
    font-size: 0.9rem;
    transform: none !important;
}


/* Altura Dropdown Menu Notificacao */

.sidebar-footer .dropdown-menu .notifications {
    height: 16rem;
}

.notifications-header {
    /* Display & Modelo de Caixa */
    padding: 12px 0px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    /* Outros */
    color: #ffffff;
    background-color: #004bbc;
    font-weight: bold;
}


/* Altura Dropdown Menu Configuracao */

#dropdown-menu-configuracao {
    height: 12rem !important;
}


/* Linha Divisao */

.dropdown-divider {
    /* Display & Modelo de Caixa */
    overflow: hidden;
    height: 0;
    border-top: 1px solid #e9ecef;
    margin: .3rem 0;
}


/* Estrutura Conteudo da Notificacao */

.sidebar-footer .notification-content {
    display: flex;
}


/* Dropdown Conteudo */

.sidebar-footer .notification-content .content {
    /* Display & Modelo de Caixa */
    width: calc(250px - 40px);
    line-height: 1.4;
    padding-right: 15px;
    padding-left: 5px;
}


/* Espacamento Itens Dropdown */

.sidebar-footer .dropdown-item {
    /* Display & Modelo de Caixa */
    padding: 8px 3px;
    /* Outros */
    color: #828282;
    font-size: .7rem;
}


/* Detalhes Notificacao */

.sidebar-footer .notification-detail {
    padding-right: 12px;
}


/* Icone Conteudo da Notifacacao */

.sidebar-footer .notifications .notification-content i {
    /* Display & Modelo de Caixa */
    width: 35px;
    height: 35px;
    line-height: 35px;
    /* Outros */
    text-align: center;
}


/* ==========================================================================
    Estrutura Conteudo Principal
 ========================================================================== */

.wrapper-content {
    /* Posicionamento */
    position: absolute;
    top: 3.5rem;
    right: 0;
    /* Display & Modelo de Caixa */
    width: calc(100% - 15.625rem);
    /* Outros */
    transition: all 0.3s;
}


/* ==========================================================================
    Breadcrumb
 ========================================================================== */

.content-breadcrumb {
    padding-top: 0.938rem;
}


/* Breadcrump Header */

.content-breadcrumb-header {
    /* Display & Modelo de Caixa */
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    /* Outros */
    background-color: #ffffff;
}


/* Estrutura Path */

.breadcrumb-path {
    /* Display & Modelo de Caixa */
    display: inline-block;
    padding-bottom: 10px;
    padding-left: 5px;
    margin: 0;
}


/* Path Item */

.breadcrumb-path-item {
    float: left;
}


/* Path Link */

.breadcrumb-path-link {
    /* Posicionamento */
    position: relative;
    /* Display & Modelo de Caixa */
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    margin-right: 23px;
    /* Outros */
    color: #ffffff;
    background: #fe5a0b;
    text-align: center;
    text-decoration: none !important;
}

.breadcrumb-path-link:hover {
    color: #ffffff;
}


/* Altera Primeiro item Path 'Home' */

.breadcrumb-path-item:first-child .breadcrumb-path-link {
    /* Display & Modelo de Caixa */
    padding-left: 0.938rem;
    border-radius: 4px 0 0 4px;
}


/* Removendo Borda Antes do Primeiro Item */

.breadcrumb-path-item:first-child .breadcrumb-path-link:before {
    border: none;
}


/* Adicionando Ultimo Filho Item */

.breadcrumb-path-item:last-child .breadcrumb-path-link {
    /* Display & Modelo de Caixa */
    padding-right: 0.938rem;
    border-radius: 0 4px 4px 0;
}


/* Removendo borda Depois do Ultimo Item */

.breadcrumb-path-item:last-child .breadcrumb-path-link:after {
    border: none;
}


/* Alterando Background do Segundo Elemento Path */

.breadcrumb-path-item:nth-child(even) .breadcrumb-path-link {
    background-color: #004bbc;
}


/* Bordar Segundo Item */

.breadcrumb-path-item:nth-child(even) .breadcrumb-path-link:before {
    /* Display & Modelo de Caixa */
    border-color: #004bbc;
    border-left-color: transparent;
}


/* Estrutura Antes e Depois '/' */

.breadcrumb-path-item .breadcrumb-path-link:after,
.breadcrumb-path-item .breadcrumb-path-link:before {
    /* Posicionamento */
    position: absolute;
    top: 0;
    /* Display & Modelo de Caixa */
    width: 0;
    height: 0;
    border: 0 solid #fe5a0b;
    border-width: 20px 10px;
    /* Outros */
    content: "";
}


/* Primeiro Triangulo 'Home' */

.breadcrumb-path-item .breadcrumb-path-link:after {
    /* Posicionamento */
    left: 100%;
    /* Display & Modelo de Caixa */
    border-color: transparent;
    border-left-color: #fe5a0b;
}


/* Triangulo Segundo Item */

.breadcrumb-path-link:before {
    left: -20px;
    border-left-color: transparent;
}


/* ==========================================================================
    ScrollBar Barra Lateral
 ========================================================================== */


/* Largura Scroll */

.mCSB_scrollTools {
    width: 4px;
}


/* Removendo a Margin direita */

.mCSB_inside>.mCSB_container {
    margin-right: 0 !important;
}


/* Alterando Cor Fundo do Scrollbar */

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #fe5a0b !important;
}


/* Efeito ao Passar o Mouse */

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
    background-color: #fe5a0b !important;
}


/* ==========================================================================
    Overlay
 ========================================================================== */

#sidebar-overlay {
    /* Posicionamento */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* Display & Modelo de Caixa */
    height: 120vh;
    z-index: 1;
    will-change: opacity;
    /* Outros */
    background-color: rgba(0, 0, 0, .5);
}


/* ==========================================================================
    Footer Principal
 ========================================================================== */

.content-footer {
    /* Posicionamento */
    bottom: 0;
    /* Display & Modelo de Caixa */
    width: 100%;
    height: 44px;
    box-shadow: 0px -1px 5px #1d1d1d;
    padding: 0;
    margin-top: 1.25rem;
    /* Outros */
    background: linear-gradient(90deg, #f79937 0%, #fe5a0b 100%);
}


/* Texto Footer Principal */

.content-footer-paragraph {
    /* Display & Modelo de Caixa */
    padding: 0.625rem;
    margin-bottom: 0px;
    /* Outros */
    color: #ffffff;
}


/* ==========================================================================
   Dashboard
 ========================================================================== */

.card {
    /* Display & Modelo de Caixa */
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    /* Outros */
    font-weight: 400;
}

.card-admin {
    margin-top: 1.25rem;
}


/* Header card */

.card-admin-header {
    /* Display & Modelo de Caixa */
    margin-top: -1.25rem;
    margin-right: 4%;
    margin-left: 4%;
}


/* Icone */

.card-admin-icon {
    /* Display & Modelo de Caixa */
    padding: 1.7rem;
    border-radius: 3px;
    /* Outros */
    color: #fff;
    text-align: left;
    font-size: 2rem;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Posição Titulos e Informação */

.card-admin-info {
    /* Posicionamento */
    float: right;
    /* Display & Modelo de Caixa */
    margin-top: 2rem;
    /* Outros */
    text-align: right;
}


/* Tilulo Card */

.card-admin-title {
    /* Outros */
    color: #999999;
    font-size: 12px;
}


/* Tamanho Barra Progresso */

.card-progress {
    height: 6px;
}


/* Mensagem Card */

.card-text {
    /* Outros */
    color: #747373;
    font-size: 0.9rem;
    font-weight: 400;
}


/* Cor Icone Curso */

.background-curso-icon {
    background-color: rgb(0, 123, 255);
}


/* Porcentagem Curso */

.background-curso-progress {
    /* Display & Modelo de Caixa */
    width: 25%;
    /* Outros */
    background-color: rgb(0, 123, 255);
}


/* Cor Icone Grade */

.background-grade-icon {
    background-color: rgb(255, 202, 44);
}


/* Porcentagem Grade */

.background-grade-progress {
    /* Display & Modelo de Caixa */
    width: 33%;
    /* Outros */
    background-color: rgb(255, 202, 44);
}


/* Cor Icone Disciplina */

.background-disciplina-icon {
    background-color: rgb(40, 167, 69);
}


/* Porcentagem disciplina */

.background-disciplina-progress {
    /* Display & Modelo de Caixa */
    width: 75%;
    /* Outros */
    background-color: rgb(40, 167, 69);
}


/* Cor Icone Ementa */

.background-ementa-icon {
    background-color: rgb(220, 53, 69);
}


/* Porcentagem ementa */

.background-ementa-progress {
    /* Display & Modelo de Caixa */
    width: 50%;
    /* Outros */
    background-color: rgb(220, 53, 69);
}


/* ==========================================================================
   Charts
 ========================================================================== */

.card-charts {
    margin-top: 1.25rem;
}

.card-charts-header {
    /* Posicionamento */
    position: relative;
    /* Display & Modelo de Caixa */
    padding: 1.6rem 1rem;
    border-radius: 4px;
    margin-top: -1.25rem;
    margin-right: 4%;
    margin-left: 4%;
    /* Outros */
    color: #fff;
    background: linear-gradient(40deg, #45cafc, #303f9f)!important;
    text-align: center;
    overflow: hidden;
    cursor: default;
}


/* ==========================================================================
   Pagina Consulta
 ========================================================================== */

.card-combobox {
    margin-top: 1.25rem;
}

.card-combobox-header {
    /* Posicionamento */
    position: relative;
    /* Display & Modelo de Caixa */
    padding: 1.6rem 1rem;
    border-radius: 4px;
    margin-top: -1.25rem;
    margin-right: 4%;
    margin-left: 4%;
    /* Outros */
    color: #ffffff;
    background: linear-gradient(40deg, #45cafc, #303f9f);
    overflow: hidden;
    cursor: default;
    text-align: center;
}

.combobox-curso,
.combobox-grade,
.combobox-disciplina {
    position: relative;
    display: flex;
    width: 20em;
    height: 3rem;
    line-height: 3rem;
    padding: 0 8px !important;
    overflow: hidden;
    border-radius: .25em;
}


/* Combobox */

.combobox-select-curso,
.combobox-select-grade,
.combobox-select-disciplina {
    /* Display & Modelo de Caixa */
    width: 100%;
    height: 2.5rem;
    padding: 0 10px;
    border: 1px solid #f79937;
    border-radius: 4px !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    /* Outros */
    flex: 1;
    outline: 0;
    box-shadow: none;
    cursor: pointer;
}


/* botao combobox */

.combobox-curso::after,
.combobox-grade::after,
.combobox-disciplina::after {
    /* Posicionamento */
    position: absolute;
    top: 0;
    right: 8px;
    /* Display & Modelo de Caixa */
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    /* Outros */
    color: #ffffff;
    background: linear-gradient(90deg, #f79937 0%, #fe5a0b 100%);
    font-family: "Font Awesome 5 Free";
    content: '\25BC';
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease
}


/* Passar Mouse Combobox */

.combobox-select-curso:hover,
.combobox-select-grade:hover,
.combobox-select-disciplina:hover {
    border: 1px solid #45cafc;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.20), 0 2px 10px 0 rgba(0, 0, 0, 0.20);
}


/* Passar Mouse Botao Combobox */

.combobox-curso:hover::after,
.combobox-grade:hover::after,
.combobox-disciplina:hover::after {
    /* Outros */
    background: linear-gradient(40deg, #45cafc, #303f9f);
}

.fieldset-ementa {
    /* Posicionamento */
    position: relative;
    /* Display & Modelo de Caixa */
    width: auto;
    padding: 20px;
    padding-left: 20px;
    border: 2px solid #fe5a0b;
    border-radius: 4px;
    margin: 0;
    /* Outros */
    background-color: rgba(255, 255, 255, 0.1);
}


/* Configuração Legenda */

.ementa-legenda {
    /* Display & Modelo de Caixa */
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}


/* Estrutura Campo Ementa */

.ementa {
    /* Display & Modelo de Caixa */
    width: 100%;
    height: 250px !important;
    padding: 1.25rem;
    border: 2px solid #f79937;
    border-radius: 4px;
}

.ementa:focus {
    /* Outros */
    border: 1px solid #45cafc;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.20), 0 2px 10px 0 rgba(0, 0, 0, 0.20);
}


/* Botao Editar */

#btnEditar {
    color: #ffffff;
}


/* ==========================================================================
   Grade
 ========================================================================== */

.inbox-mensagens {
    /* Display & Modelo de Caixa */
    padding: 15px;
    border: 1px solid #f79937;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* Outros */
    color: #797e83;
    background-color: #ffffff;
}

.box-grade-horario {
    /* Display & Modelo de Caixa */
    border-radius: 10px;
    border-top: 10px solid #fe5a0b;
}

.grade-tituloMateria {
    /* Outros */
    color: #fc884b;
    font-size: 18px;
}

.grade-horario {
    font-size: 16px;
}

.grade-professional,
.grade-nome-professor {
    font-size: 14px;
}

.grade-professional {
    /* Outros */
    color: #797e83;
    font-weight: bold;
}

.grade-horario,
.grade-professional,
.grade-nome-professor {
    font-family: "Open Sans";
}


/* Combobox Grade */

.combobox-grade-curso,
.combobox-grade-ano,
.combobox-grade-semestre {
    position: relative;
    display: flex;
    width: 20em;
    height: 3rem;
    line-height: 3rem;
    padding: 0 8px !important;
    overflow: hidden;
    border-radius: .25em;
}

.combobox-select-grade-curso,
.combobox-select-grade-ano,
.combobox-select-grade-semestre {
    width: 100%;
    height: 2.5rem;
    padding-left: 10px;
    border: 1px solid #f79937;
    border-radius: 4px !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    flex: 1;
    outline: 0;
    box-shadow: none;
    cursor: pointer;
}


/* botao combobox */

.combobox-grade-curso::after,
.combobox-grade-ano::after,
.combobox-grade-semestre::after {
    /* Posicionamento */
    position: absolute;
    top: 0;
    right: 8px;
    /* Display & Modelo de Caixa */
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    /* Outros */
    color: #ffffff;
    background: linear-gradient(90deg, #f79937 0%, #fe5a0b 100%);
    font-family: "Font Awesome 5 Free";
    content: '\25BC';
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease
}


/* Passar Mouse Combobox */

.combobox-select-grade-curso:hover,
.combobox-select-grade-ano:hover,
.combobox-select-grade-semestre:hover {
    border: 1px solid #45cafc;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.20), 0 2px 10px 0 rgba(0, 0, 0, 0.20);
}


/* Passar Mouse Botao Combobox */

.combobox-grade-curso:hover::after,
.combobox-grade-ano:hover::after,
.combobox-grade-semestre:hover::after {
    /* Outros */
    background: linear-gradient(40deg, #45cafc, #303f9f);
}


/* ==========================================================================
   Genericas
 ========================================================================== */

.img-responsive {
    /* Display & Modelo de Caixa */
    width: 90%;
    height: auto;
}


/* Genericas >> Scrollbar Browser
 ========================================================================== */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background-color: #f79937;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #303f9f;
}


/* ==========================================================================
   MEDIA QUERIES
 ========================================================================== */

@media screen and (max-width: 767.98px) {
    /* Esconder Barra Lateral */
    .wrapper-sidebar {
        margin-left: -15.625rem;
    }
    /* Aumentar Area Conteudo */
    .wrapper-content {
        width: 100%;
    }
    /* Ocultando Botoes Barra Superior */
    .nav-bottom {
        display: none;
    }
}

@media screen and (max-width: 575.98px) {
    .wrapper-login {
        width: 100%;
    }
}


/* Posicionamento */


/* Display & Modelo de Caixa */


/* Outros */